{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated and user.is_staff%}
  You are currently logged in as Club {{ user.first_name }} {{ user.last_name }}, not you? <a href="{% url 'account_logout' %}">Sign out</a>
  <p><a href="{% url 'tournaments' %}">Tournaments</a></p>
{% elif  user.is_authenticated and not user.is_staff %}
    You are currently logged in as Player {{ user.first_name }} {{ user.last_name }}, not you? <a href="{% url 'account_logout' %}">Sign out</a>
  <p><a href="{% url 'tournaments' %}">Tournaments</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}

{% endblock %}